.wrap {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 400;
	overflow: hidden;
}
.container {
	max-width: 340px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;

	@include breakpoint-mf("my-s") {
		max-width: 788px;
	}
	@include breakpoint-mf("my-m") {
		max-width: 1220px;
	}
}
