.wrap {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 400;
}
.container {
<<<<<<< HEAD
	max-width: 340px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
=======
  max-width: 340px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
>>>>>>> develop

	@include breakpoint-mf("my-s") {
		max-width: 768px;
	}
	@include breakpoint-mf("my-m") {
		max-width: 1220px;
	}
}
