$main-font: "Montserrat", sans-serif;
$secondary-font: "Lato", sans-serif;

$accent-color: #8d81ac;
$color2: #323232;

$fs_main_small: 14px;
$fs_main_big: 16px;

$l-h_main_small: 16px;
$l-h_main_big: 24px;
